<div class="main-div" fxLayoutAlign="center center" fxFlexFill >
    <mat-card fxFlex="25">
        <mat-toolbar color="primary" fxLayoutAlign="center center" >Login Page</mat-toolbar>
        <form class="login-form" fxLayoutAlign="stretch" fxLayout="column" [formGroup]="formGroup" (ngSubmit)="loginProcess()">
            <mat-form-field >
              <input matInput placeholder="username" formControlName = "email" >
            </mat-form-field>
          
            <mat-form-field >
             <input matInput type="password" placeholder="password" formControlName = "password">
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Login</button> 
            <hr> <button mat-raised-button color="accent" type="button" routerLink="/register">Register</button>
            <hr> <button mat-raised-button color="accent" type="button" routerLink="/profile">Profile</button>

          </form>
    </mat-card>
</div>
